* {
    margin: 0;
}
li {
    list-style-type: none;
}
.index__a {
    text-decoration: none;
    margin: 0 10px 0 10px;
}
.container {
    position: relative;
    max-width: 1140px;
    height: 56px;
    left: 100.19px;
    top: 50px;
    margin: 0 auto;
}
header {
    display: block;
    width: 100%;
}
.header__menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.header__container {
    display: flex;
    font-size: 18px;
}
.menu {
    display: flex;
    gap: 40px;
}

